<header class="header">
    <div class="container">
        <div class="header__logo">
            <a href="#" class="header__logo-link">
                <img src="./img/images/logo.png" alt="logo" class="header__logo-img">
            </a>
        </div>

        <nav class="header__nav" id="header__nav">
            <ul class="nav__menu">
                <li class="nav__menu-item">
                    <a href="" class="nav__menu-item--link">AANPAK</a>
                </li>
                <li class="nav__menu-item">
                    <a href="" class="nav__menu-item--link">DIENSTEN</a>
                </li>
                <li class="nav__menu-item">
                    <a href="" class="nav__menu-item--link">OVER ONS</a>
                </li>
                <li class="nav__menu-item">
                    <a href="" class="nav__menu-item--link">ACTIES</a>
                </li>
                <li class="nav__menu-item">
                    <a href="" class="nav__menu-item--link">NIEUWS</a>
                </li>
                <li class="nav__menu-item">
                    <a href="" class="nav__menu-item--link">MEDIA</a>
                </li>
                <li class="nav__menu-item">
                    <a href="" class="nav__menu-item--link">CONTACT</a>
                </li>
                <li class="nav__menu-item">
                    <a href="" class="nav__menu-item--link">LOGIN</a>
                </li>

            </ul>
        </nav>

        <div class="header__search">
            <form action="" method="post" class="header__search-form">
                <input type="search" name="header__search-input" class="header__search-input">
                <label for="header__search-input" class="header__search-label">
                    Waar ben je naar op zoek
                </label>
                <button type="submit" class="header__search-btn"></button>
            </form>
        </div>

        <div class="header__menumob" id="menuMob">
            <a href="#" id="menuMobBtn" class="header__menu-btn"></a>
        </div>
    
    </div>
</header>